/* Global */
*{
  margin: 0;
  padding: 0;
}
body{
  background: #fff;
  color: #000;

}
.container{
  width: 90%;
  /* max-width: 1000px; */
  margin: 20px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:"header header header"
                      "content-news content-news asidebar"
                      "news-cards news-cards news-cards"
                      "videos videos videos";
}
/* HEADER */
.header{
  background: #fff;
  grid-area: header;
}
/* MENU */
a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
ul{
  list-style: none;
} 

 .nav-main{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20 0;
} 
/* Brand (MARCA) */
 .nav-brand {
  padding: 10px;
  width: 60px;
} 
/* Nav left */
.nav-main ul{
  display: flex;
}
.nav-main ul li{
  padding: 10px;
}
.nav-main ul li a:hover{
  border-bottom: 2px solid #000;
}
.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
} 


hr{
  margin: 10px 0;
  color: #afafaf;
}
/* END HEADER with LINE */
.sub-news{
margin: 30px 0 20px;
display: table;
width: 100%;
height: 3px;
padding-bottom: 10px;
margin: 20px 0;
border-bottom: solid 1px #e8e8e8;
color: #3c4245;
table-layout: fixed;
}

.content-news{
  margin: 0;
  padding: 0;
  grid-area: content-news;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.news{
  padding: 29px;
  color: #000;
  width: 200px;
  border-bottom: solid 1px #e8e8e8;
  color: #3c4245; 
  
}
.newsLine{
  padding: 29px;
  color: #000;
  width: 200px;
}
.ImgShowcase{
  width: 160px;
  height: 150px;
  padding: 10px;

}
/* ASIDEBAR */
.asidebar{
  margin: 0;
  padding: 0;
  background:#fff;
  display: flex; 
  flex-direction: column;  
  grid-area: asidebar;
}

.subTitleMicro{
  margin: 30px 0 20px;
  display: table;
  width: 100%;
  height: 3px;
  padding: 10px 10px;
  margin: 20px 0;
  border-bottom: solid 1px #e8e8e8;
  color: #3c4245;
  table-layout: fixed;
}
.micro-news{
  padding: 9px;
  width: 300px;
  display: flex;
  margin: auto;
  border-bottom: solid 1px #e8e8e8;
  color: #3c4245;
}
.microNewsImg{
  height:80px;
  width:80px;
  border-radius: 50%;
  background: #afafaf;
  object-fit: scale-down;
}
/* CARDS */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  /* margin: 70px 0; */
  border-top: solid 1px #e8e8e8;
  color: #3c4245; 
  grid-area: news-cards;
} 
.cards{
  padding: 29px;
}
.subTitleCards{
margin: 50px 0 0px;
display: table;
width: 100%;
height: 3px;
padding-top: 10px;
table-layout: fixed;
}
.ImgCards{
  width: 100%;
  height: 180px;
}
/* Videos */
.videos{
  border-top: solid 1px #e8e8e8;
  color: #3c4245; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  grid-area: videos;
}
.subTitleVideos{
  margin: 50px 0 0px;
  display: table;
  width: 100%;
  height: 3px;
  padding-top: 10px;
  table-layout: fixed;
}
.demoVideo{
  padding: 29px;
  color: #000;
  width: 200px;
}
.videos video{
  width: 100%;
  height: 180px;
}
/* Links */
.footer-links {
  background: #dbdbdb;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #cacaca;
  color: #555555;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}
.footer-container ul li a:hover{
  border-bottom: 2px solid #000;
}
